body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player-panel {
    display: flex;
    font-size: 32px;
    justify-content: center;
    margin:50px 0;
}

.player-inactive {
    opacity: 0.5;
}

.player-panel div {
    display: flex;
    align-items: center;
    margin:0 15px;
}

.player-panel img {
    width: 30px;
    height: 30px;
    margin:0 15px;
}

.horizontal-line {
    height: 10px;
    background:rgba(0, 0, 0, 0.5);
    width: 345px;
    position: absolute;
    z-index: 99;
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
}

.make-vertical {
    transform: rotate(90deg) scaleX(0.0);
}



table {
    border-collapse: collapse;
    border: 0;
    padding: 0;
    margin:0;
    position: relative;
}

tr {
    width: 399px;
}

tr:first-child td {
    border-top: 0;
}

tr td:first-child {
    border-left: 0;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:last-child {
    border-right: 0;
}

td {
    width: 133px;
    height: 133px;
    border: 5px solid black;
    position: relative;
}

td:hover {
    cursor: pointer;
    background: #89F298;
}

img.shape {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -40px;
    margin-left: -40px;
}

#game-over {
    position: absolute;
    background:white;
    z-index: 10;
    animation: zoomIn 225ms ease-in-out;
}

.d-none {
    display: none;
}

.restart-button {
    border: 1px solid black;
    background: navajowhite;
    padding:10px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    width:300px;
    font-size: 20px;
    position: absolute;
    bottom: 200px;
    z-index: 999;
}

@keyframes zoomIn {
    from {
        transform: scale:(0);
        opacity:0;
    }
    to {
        transform: scale:(1);
        opacity:1;
    }
}